#gallery {
  /* background: linear-gradient(21deg, rgba(37,132,255,1) 31%, rgba(66,112,252,1) 45%, rgba(109,176,217,1) 70%); */
  background: #1E4D8C;
  text-align: center;
  width: auto;
  height: auto;
}

#gallery img {
  padding: 1.5%;
  width: auto;
  height: 80%;
  /* change value to px or rem for better resize responsiveness */
}
